@model CollateralLoanMVC.ViewModels.ViewLoanViewModel
<form>
	<div id="@nameof(Loan)" class="container-fluid px-0">
		<h4>Loan</h4>
		<div class="px-3 bg-light border">
			<div class="row py-3">
				<div class="col-4">
					<label for="@string.Concat(nameof(Loan), "_", nameof(Loan.Id))" class="">Loan Id</label>
					<input id="@string.Concat(nameof(Loan), "_", nameof(Loan.Id))" class="form-control" value="@Model.Loan.Id" disabled />
				</div>
				<div class="col-4">
					<label for="@string.Concat(nameof(Loan), "_", nameof(Loan.CustomerId))" class="">Customer Id</label>
					<input id="@string.Concat(nameof(Loan), "_", nameof(Loan.CustomerId))" class="form-control" value="@Model.Loan.CustomerId" disabled />
				</div>
				<div class="col-4">
					<label for="@string.Concat(nameof(Loan), "_", nameof(Loan.Type))" class="">Loan Type</label>
					<input id="@string.Concat(nameof(Loan), "_", nameof(Loan.Type))" class="form-control" value="@Model.Loan.Type" disabled />
				</div>
			</div>
			<div class="row py-3">
				<div class="col-4">
					<label for="@string.Concat(nameof(Loan), "_", nameof(Loan.Principal))" class="">Principal</label>
					<input id="@string.Concat(nameof(Loan), "_", nameof(Loan.Principal))" class="form-control" value="@Model.Loan.Principal" disabled />
				</div>
				<div class="col-4">
					<label for="@string.Concat(nameof(Loan), "_", nameof(Loan.Interest))" class="">Interest</label>
					<input id="@string.Concat(nameof(Loan), "_", nameof(Loan.Interest))" class="form-control" value="@Model.Loan.Interest" disabled />
				</div>
				<div class="col-4">
					<label for="@string.Concat(nameof(Loan), "_", nameof(Loan.Emi))" class="">Emi</label>
					<input id="@string.Concat(nameof(Loan), "_", nameof(Loan.Emi))" class="form-control" value="@Model.Loan.Emi" disabled />
				</div>
			</div>
			<div class="row py-3">
				<div class="col-4">
					<label for="@string.Concat(nameof(Loan), "_", nameof(Loan.SanctionDate))" class="">Sanction Date</label>
					<input id="@string.Concat(nameof(Loan), "_", nameof(Loan.SanctionDate))" class="form-control" value="@Model.Loan.SanctionDate" disabled />
				</div>
				<div class="col-4">
					<label for="@string.Concat(nameof(Loan), "_", nameof(Loan.MaturityDate))" class="">Maturity Date</label>
					<input id="@string.Concat(nameof(Loan), "_", nameof(Loan.MaturityDate))" class="form-control" value="@Model.Loan.MaturityDate" disabled />
				</div>
			</div>
		</div>
	</div>
	<hr />
	<div id="@nameof(Risk)" class="container-fluid px-0">
		<h4>Risk</h4>
		<div class="px-3 bg-light border">
			<div class="row py-3">
				<div class="col-4">
					<label for="@string.Concat(nameof(Risk), "_", nameof(Risk.LoanValue))" class="">Loan Value</label>
					<input id="@string.Concat(nameof(Risk), "_", nameof(Risk.LoanValue))" class="form-control" value="@Model.Risk.LoanValue" disabled />
				</div>
				<div class="col-4">
					<label for="@string.Concat(nameof(Risk), "_", nameof(Risk.TotalCollateralValue))" class="">Total Collateral Value</label>
					<input id="@string.Concat(nameof(Risk), "_", nameof(Risk.TotalCollateralValue))" class="form-control" value="@Model.Risk.TotalCollateralValue" disabled />
				</div>
			</div>
			<div class="row py-3">
				<div class="col-4">
					<label for="@string.Concat(nameof(Risk), "_", nameof(Risk.Raw))" class="">Raw</label>
					<input id="@string.Concat(nameof(Risk), "_", nameof(Risk.Raw))" class="form-control" value="@Model.Risk.Raw" disabled />
				</div>
				<div class="col-4">
					<label for="@string.Concat(nameof(Risk), "_", nameof(Risk.Percent))" class="">Percet</label>
					<input id="@string.Concat(nameof(Risk), "_", nameof(Risk.Percent))" class="form-control" value="@Model.Risk.Percent" disabled />
				</div>
			</div>
			<div class="row py-3">
				<div class="col-4">
					<label for="@string.Concat(nameof(Risk), "_", nameof(Risk.LastAssessDate))" class="">Last Assess Date</label>
					<input id="@string.Concat(nameof(Risk), "_", nameof(Risk.LastAssessDate))" class="form-control" value="@Model.Risk.LastAssessDate" disabled />
				</div>
			</div>
		</div>
	</div>
</form>

@section Scripts {
	<script>
	</script>
}